<h1 class="page-title"><?php echo __('Hosting details'); ?></h1>
<dl>
	<dt><?php echo __('Id'); ?></dt>
	<dd><?php echo h($hosting['Hosting']['id']); ?></dd>

	<dt><?php echo __('Name'); ?></dt>
	<dd><?php echo h($hosting['Hosting']['name']); ?></dd>

</dl>
