﻿@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');
a:focus {
    outline: none;
}

a:hover,
a:active {
    outline: none;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    background: none;
}
nav ul,
nav ol,
li {
    list-style: none outside none;
}
input,
select,
textarea {
    box-shadow: none !important;
    border: none;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
    border: none!important;
}

input[type="search"] {
    -moz-box-sizing: content-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    text-overflow: '';
}

body{
    font-family: 'Muli', sans-serif;
    background:#F0F3FA;
    padding-top: 50px;
}
.navbar-site{
	background: #fff;
	min-height: 50px;
	border: none;
}
.navbar-brand {
    padding: 8px 15px;
}
.navbar-nav {
    margin: 3px 0 0 0;
}
.navbar-site .navbar-nav > .open > a, .navbar-site .navbar-nav > .open > a:hover, .navbar-site .navbar-nav > .open > a:focus {
    color: #1FACE3;
    background-color: #fff;
}
.navbar-site .navbar-nav > li > a {
    color: #333;
    font-weight: 400;
}
.navbar-site .dropdown-menu {
    border: none;
    box-shadow: 0 0 4px rgba(34,60,126,0.3);
    padding: 0;
}
.dropdown-menu > li > a {
    padding: 6px 12px;
    color: #223D80;
    text-align: right;
    letter-spacing: 0.25px;
}
.dropdown-menu > li > a:hover{
	color: #fff;
	background:#223D80;
}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background:#223D80 url(../img/curve.svg) no-repeat left bottom ;
    background-size: 100% auto;
  }
}
.dashboard-link {
    display: block;
    padding: 15px;
    background: #1face3;
    letter-spacing: 0.25px;
    color: #fff;
    font-size: 18px;
}
.dashboard-link:hover {
    background: #1face3;
    color: #fff;
}
.sidebar .panel-group{
	padding: 15px;
}
.panel{
	background: none;
	border: none;
	box-shadow: none;
}
.sidebar .panel-heading{
	background-image: none;
	background: rgba(255,255,255,0.15);
	border: none;
	border-radius: 0;
}
.sidebar .panel-heading a{
	display: block;
	color: #fff;
	letter-spacing: 0.25px;
	font-weight: 500;
}
.sidebar .panel-body{
	border: none!important;
	padding: 0;
}
.left-menu{
	padding: 10px 0;
}
.left-menu li a::before {
	content: '';
	display: inline-block;
	font-family: FontAwesome;
	margin-right: 5px;
	color: #56E3F2;
}
.left-menu li a{
	display: block;
color: #fff;
letter-spacing: 0.5px;
font-weight: 300;
padding: 2px 0;
font-size: 13px;
}
.left-menu li a:hover{
display: block;
color: #56E3F2;

}
.collection .media,.box{
background: #fff;
-webkit-box-shadow:0 0 20px -7px rgba(34,61,128,0.3);
box-shadow:0 0 20px -7px rgba(34,61,128,0.3);
-webkit-border-radius: 2px;
    border-radius: 2px;
margin-bottom: 15px;
}
.collection .media-left i {
    background: #f30;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.collection .col-xs-12:nth-child(1) i{
	background: #1FACE3;
}

.collection .col-xs-12:nth-child(2) i{
	background: #00A65A;
}
.collection .col-xs-12:nth-child(3) i{
	background:#F39C12;
}
.collection .media h4{
	font-weight: 700;
font-size: 20px;
color: #223D80;
}
.collection .media p {
    margin: 0;
letter-spacing: 0.5px;
color: #14A1D8;
font-size: 16px;
font-weight: 600;
}

.box{
margin:15px 0;	
}
.box-first{
margin:0 0 15px;	
}
.box-body{
	padding:5px 15px 15px;
	min-height: 340px;
}
.box-title {
    border-bottom: 1px solid #e6e6e6;
    font-size: 21px;
    padding: 15px;
    letter-spacing: 0.35px;
    color: #223D80;
    font-weight: 600;
    margin:0 0 10px;
}
.box .table,.box .media{
	margin-bottom: 10px;
}
.box .table > thead{
	background: rgba(34,61,128,0.8);
}
.box .table > tbody > tr > td,.box .table > thead > tr > th{
vertical-align: middle;
color: #333;
letter-spacing: 0.25px;
border: none;
}
.box .table > thead > tr > th,.box .table > thead > tr > th a{
	color: #fff;
	white-space: nowrap;
}
.box .table .btn{
	border: none;
border-radius: 2px;
padding: 3px 8px 4px;
}
.box .table .action {
    width: 8%;
}

.box .table > tbody > tr:nth-child(2n+1){
	background: #F5F9FC;
}
.btn-view{
	padding: 0;
	letter-spacing: 0.35px;
	color: #FF7271;
}

.box .employee-name,.box .media p{
	letter-spacing: 0.35px;
	margin: 0;
}
.box .employee-name{
	font-weight: 600;
	color: #4E6499
}
.box .media p{
	color: #666;
}
.box .media:last-child{
	margin-bottom: 15px;
}
.box-search{
	padding: 0 0 15px;
}
.box-search .form-control,.form .form-control{
	border:1px solid #ddd;
	letter-spacing: 0.25px;
	color: #333;
	-webkit-border-radius: 2px;
    border-radius: 2px;
}
.box-search .form-control:focus, .form .form-control:focus{
	border:1px solid #ccc !important;
}
.form-select{
	background: url(../img/dropdown.svg) no-repeat right center;
}
.form .form-group label {
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #333;
    font-size: 16px;
}
.btn-search,.btn-common {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #1FACE3;
    color: #fff;
    padding: 7px 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.form .btn-common{
	margin-right: 10px;
}
.btn-search:hover {
    color: #fff;
}
.btn-common:hover{
	background: #223D80;
	color: #fff;
}
.box-title .btn-common{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.form .checkbox input[type="checkbox"]{
	margin-left:0;
}
.pagination-block p{
	letter-spacing: 0.25px;
	color: #777;
}
.pagination > li > a{
	font-weight: 600;
	letter-spacing: 0.25px;
	text-transform: uppercase;
}
.pagination li:first-child a::before,.pagination li:last-child a::after{
	display: inline-block;
	font-family: FontAwesome;
	padding:0 5px;
}
.pagination li:first-child a::before {
	content: '';
}
.pagination li:last-child a::after {
	content: '';
}
.document-search .box-body{
	min-height: 170px;
}
.document-search .btn-common{
	-webkit-transform: translateY(26px);
	transform: translateY(26px);
}
.main {
  padding:40px;
}
@media all and (max-width: 767px){
.document-search .btn-common{
	transform: translateY(0);
	/*linear-gradient(90deg,rgba(4,37,66,.85),transparent)*/
}

}


