<h1 class="page-title"><?php echo __('Department details'); ?></h1>
<dl>
	<dt><?php echo __('Id'); ?></dt>
	<dd><?php echo h($Department['Department']['id']); ?></dd>

	<dt><?php echo __('Name'); ?></dt>
	<dd><?php echo h($Department['Department']['name']); ?></dd>

</dl>
